@media screen and (max-width: 992px) {
  .tasks tbody th {
      min-width: 80px;
  }
}

@media screen and (max-width: 768px) {
  #registerForm input {
    width: 30%;
  }

  input#passwordInput {
    width: 20%;
  }

  div#pic {
      width: 35%;
  }

  .tasks tbody th {
      min-width: 40px;
  }

  body {
	  font-size:15px;
  }

  h1 {
	  font-size:20px;
  }

  #taskTable
  {
	  font-size:16px;
  }

  aside#lists {
    width: 90%;
  }

  #list {
    width: 90%;
  }

  .tasks tbody th {
    font-size:12px;
  }

  #lists > h1 {
    font-size: 17px;
  }

  #list > h1 {
    font-size: 17px;
  }

  #editProfile input {
    width: 30%;
  }

  #login input {
      width: 30%;
  }

  #descriptionDiv {
	height:20px;
	padding-left:5px;
	}

  #descriptionHead{
	  width: 160px;
  }
}

@media screen and (max-width: 480px) {
	
	#descriptionBox{
		width: 220px;
	}
	
  #registerForm input {
    width: 40%;
  }

  input#passwordInput {
    width: 30%;
  }
  .status.arrowCursor {
    background-color: #1E000D;
  }

  #menu > ul {
    display: block;
  }

  nav#menu > ul > li {
    width: initial;
  }

  nav#menu > ul > li:nth-child(-n+3) {
    border-bottom: 1px solid #1E000D;
    border-right: none;
  }

  .tasks tbody th {
    font-size:12px;
  }

  h1 {
	  font-size:18px;
  }

  body {
	  font-size:12px;
  }

  div#pic {
      float: none;
  }

  #lists > h1 {
    font-size: 14px;
  }

  #taskTable
  {
	  font-size:inherit;
  }

  .tasks tbody th {
      min-width: 35px;
  }

  #list > h1 {
    font-size: 14px;
  }

  #editProfile input {
    width: 50%;
  }

  div#info {
    border-left: none;
    border-top: 1px solid black;
    padding-left: 0;
    padding-top: 1em;
  }

   #descriptionDiv {
	height:20px;
	padding-left:5px;
   }
    #descriptionHead{
	  width: 57px;
  }
}

@media screen and (max-width: 360px) {
  #registerForm input {
    width: 50%;
  }

  input#passwordInput {
    width: 40%;
  }
}
