html {
  background-color: #222222;
}

header > a {
    text-decoration: none;
    color: black;
}

header {
    text-align: center;
}

.header {
  background-color: #1E000D;
  color: white;
}

.header p {
  margin: 0;
}

.header > p:last-of-type {
  border-bottom: 1px solid white;
}

.header > a:first-of-type {
  padding-right: 1em;
  border-right: 1px solid white;
}

.header > a:last-of-type {
  padding-left: 1em;
}

header h1 {
    font-family: Montserrat, Arial Black;
    text-transform: capitalize;
    margin: 0;
    background-color: #f20069;
}

.header > a {
    text-decoration: none;
    color: white;
}

header > div > a:nth-child(1) {
    padding-right: 1em;
    border-right: 1px solid white;
}

header > div > a:nth-child(2) {
    padding-left: 1em;
}

aside#lists {
    width: 35%;
    display: inline-block;
    padding-bottom: 1em;
    padding-left: 1em;
}

html {
    font-family: Calibri;
}

#menu > ul > li > a {
    text-decoration: none;
    color: black;
}

#menu > ul {
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0;
    table-layout: fixed;
    width: 100%;
}

nav#menu > ul >li {
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 0.2em;
    background-color: #f20069;
}

nav#menu > ul > li:nth-child(-n+3) {
    border-right: 1px solid white;
}

nav#menu {
    margin: auto;
    background-color: #1E000D;
}

#list {
    display: inline-block;
    vertical-align: top;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

#list > h1 {
  font-family: Montserrat, Arial;
}

body {
  margin-left: 1em;
  margin-right: 1em;
  background-color: white;
}

footer {
    background-color: #1E000D;
    color: white;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
}

#register h2 {
  font-family: Montserrat, Arial;
}

#register {
  padding-left: 1em;
  padding-bottom: 1em;
  text-align: center;
}

#login h2 {
  font-family: Montserrat, Arial;
}

#login {
  padding-left: 1em;
  padding-bottom: 1em;
  text-align: center;
}

button {
    color: #f20069;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    font-weight: bold;
    background-color: #1E000D;
    border: 0;
    font-family: Calibri;
    font-size: 1em;
    width: 6.8em;
	cursor: pointer;
}

#editProfile h1 {
  font-family: Montserrat, Arial;
}

#editProfile {
  padding-bottom: 1em;
  text-align: center;
}

#editProfile input {
    width: 20%;
    border: 0;
    border-bottom: 1px solid black;
    padding: 0.5em;
    margin: 0.5em;
}

input:focus {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

#profile h2 {
  font-family: Montserrat, Arial;
}

#profile {
  padding-left: 1em;
  padding-bottom: 1em;
}

div#info {
    border-left: 1px solid black;
    padding-left: 1em;
    display: inline-block;
}

#pic p {
    margin: 0;
}

#info p {
    margin: 0;
}

div#pic {
    width: 20%;
    float: left;
}

#profile a {
    color: #f20069;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    font-weight: bold;
    background-color: #1E000D;
    text-decoration: none;
}

div#editProfileButton {
    margin-top: 2em;
}

#profile h4 {
    margin: 0;
}

#descriptionBox{
	width: 100%; 
	height: 30px;
}

#descriptionBox:focus{
	height:100px;
}

.tasks tbody th {
    background-color: #1E000D;
    color: white;
    min-width: 174px;
}

.tasks tbody tr:nth-child(2n+1) {
    background-color: #FDDFEC;
}

.lists tbody th {
  background-color: #1E000D;
  color: white;
}

.lists tbody tr {
  background-color: #FCBFD9;
  font-weight: bold;
}

#welcome {
    padding: 1em;
    font-weight: bold;
    text-align: center;
}

.error {
    padding-left: 1em;
    color: #f20069;
    font-weight: bold;
}

#errorMessage {
    padding-left: 1em;
    color: #f20069;
    font-weight: bold;
}

.hidden {
    display: none;
}

input[name="list"] {
    background: none;
    border: none;
    color: black;
    text-align: center;
    font-weight: bold;
}

input[name="deleteListButton"] {
    color: #f20069;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    font-weight: bold;
    background-color: #1E000D;
    border: 0;
    float: right;
}

input[name="user"] {
    background: none;
    color: black;
    font-weight: bold;
    border: 0;
        border-bottom-width: 0px;
        border-bottom-style: none;
        border-bottom-color: currentcolor;
    border-bottom: 1px solid black;
    padding-bottom: 0.5em;
    padding-left: 1em;
}

#loginForm input::placeholder {
    font-family: Calibri;
}

#registerForm input::placeholder {
    font-family: Calibri;
}

#registerForm input {
    width: 20%;
    border: 0;
    border-bottom: 1px solid black;
    padding: 0.5em;
    margin: 0.5em;
    text-align: left;
}

input#passwordInput {
    width: 10%;
}

#strLog {
  width: 10%;
  display: inline-block;
}

#loginForm input {
    width: 20%;
    border: 0;
    border-bottom: 1px solid black;
    padding: 0.5em;
    margin: 0.5em;
}

input[type="submit"] {
    color: #f20069;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    font-weight: bold;
    background-color: #1E000D;
    border: 0;
}

#lists > h1 {
  font-family: Montserrat, Arial;
}

input[name="addListButton"] {
    width: 100%;
}

input[name="addTaskButton"] {
    width: 100%;
}

label#fileToUploadLabel {
    color: #f20069;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    font-weight: bold;
    background-color: #1E000D;
    border: 0;
}

#uploadLabel {
    width: 20%;
    border: 0;
    border: 1px solid black;
    padding: 0.5em;
    margin: 0.5em;
    text-align: left;
    display: inline-block;
    font-size: 0.8em;
	cursor: pointer;
	font-weight: bold;
}

input#submitPhoto {
    color: #f20069;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    font-weight: bold;
    background-color: #1E000D;
    border: 0;
    font-family: Calibri;
    font-size: 1em;
    width: 6.8em;
}

.lists input[name="listName"] {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #FCBFD9;
}

.tasks .task input {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: transparent;
}

.id {
    display: none;
}

.delete{
	text-align: center;
}

.delete a {
    color: white;
    background: #1E000D;
    padding: 1px 6px;
}

.centerAlign{
	text-align: center;
}

.buttonCursor {
	cursor: pointer;
}

.arrowCursor {
	cursor: default;
}

#listDisplay h2 {
    text-transform: capitalize;
    font-family: Montserrat, Arial;
}

#listDisplay {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.form {
	display: inline;
}

#status{
	max-width:1px;
}
















