html {
  background-color: #222222;
}

header > a {
    text-decoration: none;
    color: black;
}

header {
    text-align: center;
}

.header {
  color: white;
}

.header p{
  margin: 0;
}

header h1 {
    text-align: center;
    font-family: Arial Black;
    text-transform: capitalize;
    margin: 0;
    background-color: #f20069;
}

.header {
background-color: #1E000D;
}

.header > a {
    text-decoration: none;
    color: white;
}

header > div > a:nth-child(1) {
    padding-right: 1em;
    border-right: 1px solid white;
}

header > div > a:nth-child(2) {
    padding-left: 1em;
}

aside#lists {
    width: 25%;
    display: inline-block;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    text-decoration: underline;
}

aside#lists > ul {
    list-style: square;
}

html {
    font-family: Calibri;
}

.header > a:first-of-type {
  padding-right: 1em;
  border-right: 1px solid white;
}

.header > a:last-of-type {
  padding-left: 1em;
}

.header > p:last-of-type {
  border-bottom: 1px solid white;
}

#menu > ul {
    list-style: none;
}

#menu > ul > li > a {
    text-decoration: none;
    color: black;
}

#menu > ul {
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0;
    table-layout: fixed;
    width: 100%;
}

nav#menu > ul > li:last-child {
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 0.2em;
    background-color: #f20069;
}

nav#menu > ul > li:nth-child(-n+2) {
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 0.2em;
    border-right: 1px solid white;
    background-color: #f20069;
}

nav#menu {
    margin: auto;
    background-color: #1E000D;
}

.header {
    padding: 1e;
}

#list {
    display: inline-block;
    vertical-align: top;
    width: 69%;
    padding-left: 1em;
}

#list > h1 {
  font-family: Arial;
}

body {
  margin-left: 1em;
  margin-right: 1em;
  background-color: white;
}

footer {
    background-color: #1E000D;
    color: white;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
}

#register h1 {
  font-family: Arial;
}

#register {
  padding-left: 1em;
  padding-bottom: 1em;
  text-align: center;
}

button#registerSubmit {
    color: #f20069;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    font-weight: bold;
    background-color: #1E000D;
    border: 0;
}

#login h1 {
  font-family: Arial;
}

#login {
  padding-left: 1em;
  padding-bottom: 1em;
  text-align: center;
}

button#loginSubmit {
    color: #f20069;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    font-weight: bold;
    background-color: #1E000D;
    border: 0;
}

#editProfile h1 {
  font-family: Arial;
}

#editProfile {
  padding-bottom: 1em;
  text-align: center;
}

button#editProfileSubmit {
    color: #f20069;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    font-weight: bold;
    background-color: #1E000D;
    border: 0;
}

input {
    width: 20%;
    border: 0;
    border-bottom: 1px solid black;
    padding: 0.5em;
    margin: 0.5em;
}

input:focus {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

#profile h1 {
  font-family: Arial;
}

#profile {
  padding-left: 1em;
  padding-bottom: 1em;
}

div#info {
    border-left: 1px solid black;
    padding-left: 1em;
    display: inline-block;
}

#info p {
    margin: 0;
}

div#pic {
    width: 30%;
    float: left;
}

#profile a {
    color: #f20069;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    font-weight: bold;
    background-color: #1E000D;
    text-decoration: none;
}

 div#editProfileButton {
    margin-top: 2em;
}

#profile h4 {
  margin: 0;
}
