@media screen and (max-width: 1920px) {
	
	aside#lists {
    width: 440px;
    display: inline-block;
    padding-bottom: 1em;
    padding-left: 1em;
	}

	input[name="addListButton"] {
    width: 217px;
	margin-left: 1.5px;
	}
	
	form input[name="listName"] {
    border: 0;
    padding: 0;
    margin: 1.5px;
	margin-top: -1em;
    width: 217px;
	height: 20px;
    background-color: #FCBFD9;
}
}

@media screen and (max-width: 1600px) {
	
	#listsTable {
    width: 242px;
	}
	
	aside#lists {
    width: 330px;
    display: inline-block;
    padding-bottom: 1em;
    padding-left: 1em;
	}

	input[name="addListButton"] {
    width: 217px;
	margin-left: 1.5px;
	}
	
	form input[name="listName"] {
    border: 0;
    padding: 0;
    margin: 1.5px;
	margin-top: -1em;
    width: 217px;
	height: 20px;
    background-color: #FCBFD9;
}
}

@media screen and (max-width: 1366px) {
	
	aside#lists {
    width: 25%;
    display: inline-block;
    padding-bottom: 1em;
    padding-left: 1em;
	}
	
	#listsTable {
    width: 242px;
	}

	input[name="addListButton"] {
    width: 217px;
	margin-left: 1.5px;
	}
	
	form input[name="listName"] {
    border: 0;
    padding: 0;
    margin: 1.5px;
	margin-top: -1em;
    width: 217px;
	height: 20px;
    background-color: #FCBFD9;
	}
	
	#list{
    display: inline-block;
    vertical-align: top;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
	}
}

@media screen and (max-width: 1280px) {
	
	#listsTable {
    width: 242px;
	}
	
	aside#lists {
    width: 25%;
    display: inline-block;
    padding-bottom: 1em;
    padding-left: 1em;
}
    	input[name="addListButton"] {
    width: 217px;
	margin-left: 1.5px;
	}
	
	form input[name="listName"] {
    border: 0;
    padding: 0;
    margin: 1.5px;
	margin-top: -1em;
    width: 217px;
	height: 20px;
    background-color: #FCBFD9;
}


	#descriptionBox{
	resize: none;
	height: 22px;
	width: 44%;
	transition:all 0.2s linear;
    -moz-transition:all 0.2s linear; /* Firefox 4 */
    -webkit-transition:all 0.2s linear; /* Safari and Chrome */
    -o-transition:all 0.2s linear; /* Opera */
    -ms-transition:all 0.2s linear; /* Explorer 10 */
}
}

@media screen and (max-width: 992px) {
  .tasks tbody th {
      min-width: 80px;
  }
  
	#listsTable {
    width: 242px;
	}
  
  .deltete.task {
    background-color: white;
    width: 2px;
  }
  
    input[name="addListButton"] {
    width: 218px;
	margin-left: 1.5px;
	}
	
	form input[name="listName"] {
    border: 0;
    padding: 0;
    margin: 1.5px;
	margin-top: -1em;
    width: 218px;
	height: 20px;
    background-color: #FCBFD9;
}

	input[name="deleteListButton"] {
    color: #f20069;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
	margin-right: 4.8em;
    font-weight: bold;
    background-color: #1E000D;
    border: 0;
    float: right;
	}
	
	#descriptionBox{
	resize: none;
	height: 22px;
	width: 38%;
	transition:all 0.2s linear;
    -moz-transition:all 0.2s linear; /* Firefox 4 */
    -webkit-transition:all 0.2s linear; /* Safari and Chrome */
    -o-transition:all 0.2s linear; /* Opera */
    -ms-transition:all 0.2s linear; /* Explorer 10 */
}
}

@media screen and (max-width: 768px) {
	
	#listsTable {
    width: 226px;
	}
	
  #registerForm input {
    width: 30%;
  }

  	input[name="deleteListButton"] {
    color: #f20069;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
	margin-right: 1em;
    font-weight: bold;
    background-color: #1E000D;
    border: 0;
    float: right;
	}
  
  input#passwordInput {
    width: 20%;
  }

  div#pic {
      width: 35%;
  }

  .tasks tbody th {
      min-width: 40px;
  }

  body {
	  font-size:15px;
  }

  h1 {
	  font-size:20px;
  }

  #taskTable
  {
	  font-size:16px;
  }


  #list {
    width: 90%;
  }

  .tasks tbody th {
    font-size:12px;
  }

  #lists > h1 {
    font-size: 17px;
  }

  #list > h1 {
    font-size: 17px;
  }

  #editProfile input {
    width: 30%;
  }

  #login input {
      width: 30%;
  }

  #descriptionDiv {
	height:20px;
	padding-left:5px;
	}

  #descriptionHead{
	  width: 160px;
  }
  
  	input[name="addListButton"] {
    width: 203px;
	margin-left: 1.5px;
	}
	
	form input[name="listName"] {
    border: 0;
    padding: 0;
    margin: 1.5px;
	margin-top: -1em;
    width: 203px;
	height: 20px;
    background-color: #FCBFD9;
}

	#descriptionBox{
	resize: none;
	height: 22px;
	width: 55%;
	transition:all 0.2s linear;
    -moz-transition:all 0.2s linear; /* Firefox 4 */
    -webkit-transition:all 0.2s linear; /* Safari and Chrome */
    -o-transition:all 0.2s linear; /* Opera */
    -ms-transition:all 0.2s linear; /* Explorer 10 */
}
}

@media screen and (max-width: 480px) {
	
	#listsTable {
    width: 184px;
	}
	
	#descriptionBox{
	resize: none;
	height: 22px;
	width: 38%;
	transition:all 0.2s linear;
    -moz-transition:all 0.2s linear; /* Firefox 4 */
    -webkit-transition:all 0.2s linear; /* Safari and Chrome */
    -o-transition:all 0.2s linear; /* Opera */
    -ms-transition:all 0.2s linear; /* Explorer 10 */
}
	
	input[name="addListButton"] {
    width: 165px;
	margin-left: 1.5px;
	}
	
	form input[name="listName"] {
    border: 0;
    padding: 0;
    margin: 1.5px;
	margin-top: -1em;
    width: 164px;
	height: 20px;
    background-color: #FCBFD9;
}

  	input[name="deleteListButton"] {
    color: #f20069;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
	margin-right: -1em;
    font-weight: bold;
    background-color: #1E000D;
    border: 0;
    float: right;
	}
	
	.name{
		font-size:12px;
	}
	
	form input[name="listName"] {
		margin-top: 0;
	}
	
	#descriptionBox{
		width: 220px;
	}
	
  #registerForm input {
    width: 40%;
  }

  input#passwordInput {
    width: 30%;
  }
  .status.arrowCursor {
    background-color: #1E000D;
  }

  #menu > ul {
    display: block;
  }

  nav#menu > ul > li {
    width: initial;
  }

  nav#menu > ul > li:nth-child(-n+3) {
    border-bottom: 1px solid #1E000D;
    border-right: none;
  }

  .tasks tbody th {
    font-size:12px;
  }

  h1 {
	  font-size:18px;
  }

  body {
	  font-size:12px;
  }

  div#pic {
      float: none;
  }

  #lists > h1 {
    font-size: 14px;
  }

  #taskTable
  {
	  font-size:inherit;
  }

  .tasks tbody th {
      min-width: 35px;
  }

  #list > h1 {
    font-size: 14px;
  }

  #editProfile input {
    width: 50%;
  }

  div#info {
    border-left: none;
    border-top: 1px solid black;
    padding-left: 0;
    padding-top: 1em;
  }

   #descriptionDiv {
	height:20px;
	padding-left:5px;
   }
    #descriptionHead{
	  width: 57px;
  }
}

@media screen and (max-width: 360px) {
	  	input[name="deleteListButton"] {
    color: #f20069;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
	margin-right: -1em;
    font-weight: bold;
    background-color: #1E000D;
    border: 0;
    float: right;
	}
	
	input[name="user"] {
    background: none;
    color: black;
    font-weight: bold;
	font-size: 12px;
    border: 0;
        border-bottom-width: 0px;
        border-bottom-style: none;
        border-bottom-color: currentcolor;
    border-bottom: 1px solid black;
    padding-bottom: 0.5em;
    text-align: center;
}
	
  #registerForm input {
    width: 50%;
  }

  input#passwordInput {
    width: 40%;
  }
  
  	#descriptionBox{
	resize: none;
	height: 22px;
	width: 70%;
	transition:all 0.2s linear;
    -moz-transition:all 0.2s linear; /* Firefox 4 */
    -webkit-transition:all 0.2s linear; /* Safari and Chrome */
    -o-transition:all 0.2s linear; /* Opera */
    -ms-transition:all 0.2s linear; /* Explorer 10 */
}
}
